name: Setup secrets

on:
  push:
    branches:
      - docker-swarm

jobs:
  prepare-secrets:
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Create Docker configs and secrets
        run: |
          docker config create nginx_conf_v1 ./nginx.conf || echo "Config already exists"
          docker secret create nginx_cert_v1 ./ssl/reverse-proxy.crt || echo "Secret already exists"
          docker secret create nginx_key_v1 ./ssl/reverse-proxy.key || echo "Secret already exists"
        working-directory: reverse-proxy
